*
{
	padding: 0px;
	margin: 0px;
	font-family: 'Kumbh Sans', sans-serif;
	color: orange;
}

.image
{
	background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQPoWTCSdukWLj5QGelBXy_jAd2YAwnhEYUrQ&usqp=CAU");
	padding: 0px;
	margin: 0px;
}


